body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    display: flex;
    height: 120px;
    justify-content: center;
}
.container{
    display: flex;
    width: 990px;
    justify-content: space-between;
    
}
.column{
    flex-direction: column;
}
.logo{
    display: flex;
    align-items: center;
    
}
.menu{
display: flex;
align-items: center;
}
nav ul, nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav a{
    display: block;
    padding: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #727272;
}
nav ul{
    display: flex;
}
nav .active a, nav a:hover{
    background-color: black;
    color: white;
}
#banner{
    background-image: url('../images/jumpforce.jpeg');
    background-position:center;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
}
.area1{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.area1 h1{
    color:white;
    font-size: 50px;
    text-shadow: 2px 2px 2px #000;
    margin: 0;
    padding: 0;
    max-width: 350px;
}
.area1 h2{
    color:white;
    font-size: 20px;
    text-shadow: 2px 2px 1px rgba(128, 128, 128, 0.37);
    margin: 30px 0 0 0;
    padding: 0;
    max-width: 250px;
}
.area2{
    height: 210px;
    display: flex;
    
}
.banner1, .banner2, .banner3{
    flex: 1; 
}
.banner1{
    background-color: blueviolet;
    color: white;
    padding: 20px;
}
.banner2{
    background-color: rgb(114, 51, 173);
    color: white;
    padding: 20px;
}
.banner3{
    background-color: blueviolet;
    color: white;
    padding: 20px;
}
.banner_tittle{
    
    font-size: 20px;

}
.banner_desc{
    font-size: 14px;
    margin: 20px 0 20px 0;

}
.area2 a{
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
    font-size: 12px;
    text-decoration: none;
    color: white;

}
.banner_op{
    color: white;
    font-size: 12px;
    border-bottom: 1px;
    border-bottom-style: dotted;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
#geral{
    display: flex;
    justify-content: center;
}
#geral section{
    flex: 2;
}
#geral aside{
    flex: 1;
}
.widget_tittle{
    margin: 30px 0 20px 0;

}
.widget_tittle_text{
    color: #000;
    font-size: 21px;
    font-weight: bold;
}
.widget_tittle_bar{
    width: 50px;
    height: 2px;
    background-color: blueviolet;
}
.widget_imgs{
    
    margin: 10px;
    padding: 10px;
    width: 100px;
    height: 100px;
    background-color: blueviolet;
   
    
    
}
.widget_body{
    display: flex;
    flex-wrap: wrap;
    
}



/* ----- articles */

article .news_data{
    display: flex;
}
article .news_posted_at{
    
    background-color: blueviolet;
    color: #FFF;
    font-size:12px;
    padding: 10px;
    margin-right:2px;

}
article .news_coments{
    background-color: rgb(90, 30, 146);
    color: #FFF;
    font-size:12px;
    padding: 10px;
    margin-right:2px;
}
article .news_thumbnail{
    margin-top: 30px;
}
article .news_thumbnail img{
    
    width: 100%;
    height: auto;
}
article .news_tittle{
    margin: 25px 0 25px 0;
    font-size: 23px;
    color: black;
}
article .news_resume{
    font-size: 16px;
    color: rgb(43, 43, 43);
    line-height: 20px;
    margin:20px;
}
article a{
    text-decoration: none;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.flexColumn{
    flex-direction: column;
}
article{
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}


/* FOOTER */

footer{
    background-color: rgb(32, 12, 51);
    display: flex;
    justify-content: center;
}
.footer_menu{
    display: flex;
    flex: 1;
}
.fn_1, .fn_2, .fn_3{
    flex: 1;
}
.fn_1{
    background-color: blueviolet;
    color: white;
    padding: 20px;
    font-size: 24px;
}
.fn_1 span{
    color: white;
    font-size: 14px;
}
.fn_1 a{
    text-decoration: none;
    color:white;
}
.fn_2{
    background-color: rgb(114, 51, 173);
    color: white;
    padding: 20px;
    font-size: 24px;
}
.fn_2 a{
    text-decoration: none;
    color: white;
}
.fn_2 span{
    color: white;
    font-size: 14px;
}
.fn_3{
    background-color: blueviolet;
    color: white;
    padding: 20px;
    font-size: 24px;
}
.fn_3 a{
    text-decoration: none;
    color: white;
}
.fn_3 span{
    color: white;
    font-size: 14px;
}
.footer_area{
    display: flex;
    color: white;
}
.footer_areaitem{
    flex:1;

}
footer .widget_tittle_text{
    color: white;
}

.footer_copy{
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}

/* STOPED IN 12:30 MINUTES */
/* FAZER UM POP-UP PARA A HOME DO SITE */

.adress{
    
    margin-top: 10px;  
    float: left;
    width: 145px;
    font-size: 12px;
    
}
.number_email{
    
    margin-top: 10px;
    width: 145px;
    float: right;
    font-size: 12px;
}
.check{
    padding-left: 80px;
    padding-top: 30px;
}
.footer_areaitem a{
    text-decoration: none;
    color: #5c5c5c;
    padding: 0;
    margin: 0;
}

.menu_mobile{
    display: none ;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}
.mm_line{
    height: 3px;
    background-color: blueviolet;
}

@media only screen and (max-width:600px){

    #banner{
        height: auto;
    }
    .area1 h1{
        padding: 10px;
        font-size: 30px;
    }
    .area1 h2{
        padding: 20px;
        font-size: 16px;
    }
    .area2{
        flex-direction: column;
        height: auto;
        display: block;
    }
    .container{
        flex-direction: column;
        height: auto;
    }
    #geral section, #geral aside{
        padding: 20px;
       
    }
    .footer_menu{
        flex-direction: column;
    }
    .footer_area{
        flex-direction: column;
        padding: 20px;
    }
    .footer_copy{
        padding-left: 20px;
    }
    header .container{
        flex-direction: row;
    }
    nav ul{
        flex-direction: column;
        display: none;
        position: absolute;
        width: 100%;
        left: 0;
        background-color: #ffffff;
    }
    header {
        height: auto;
    }
    .logo{padding: 10px;}


    .menu_mobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
